<div class="container" style="width:300px">
  <div class="row justify-content-sm-center card text-center">
    <h4 class="card-title">{{device.name}}</h4>
   <ul class=card-body >
      
      <p class="card-text">{{device.device_guid}}  /  {{device.protocol}}</p>
      <p class="alert-info" *ngIf ="device.bridge; else linkToDevice"  > {{device.bridge.name}} </p>
      
      <ng-template #linkToDevice>
      	<form #linkdeviceform="ngForm" (ngSubmit)="linkWithBridge(linkdeviceform)">
      		<select id="bridge"  name="bridge" ngModel>
      			<option *ngFor = "let b of bridges" value="{{b.id}}">{{b.name}}</option>
      		</select>
      		<br>
      		<button type="submit" class="btn btn-primary">Lier ce bridge</button>
      	</form>
      </ng-template>
      
    </ul>
  </div>
</div>