<div class="container alert-info">
	<a routerLink="/bridge/add">Ajouter un nouveau bridge</a>
</div>


<div *ngIf="bridges==null ;else list" class="container">
	<h1>Pas de résultats</h1>
</div>

<ng-template #list>
<div class="container">	
	<h1>Liste des bridges</h1>
	
	<div class="card" style="width: 18rem;" *ngFor="let b of bridges">
		<div class="card-body" >
			<h4 class="card-title">{{b.name}}</h4>
			<p class="card-text">
				Protocol : {{b.protocol}}<br>
				GUID : {{b.bridge_guid}}<br>
				Range : {{b.e_range}} m
			</p>
			<div *ngIf="b.devices.length>0" >
				<em style="color:orange">Liste des devices associés :</em>
				<p *ngFor="let d of b.devices">{{d.name}}</p>
				
			</div>
		</div>

	</div>
</div>
</ng-template>	
