<div class="container jumbotron">
	<form class="form-group" [formGroup]="deviceform" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="name">Nom : </label>
			<input formControlName="name" id="name" type="text" name="name">
		</div>	
		<div class="form-group">
			<label for="guid">GUID : </label>
			<input formControlName="guid" id="guid" type="guid" name="guid">
		</div>	
		<div class="form-group">
			<label for="protocol">Protocol : </label>
			<input formControlName="protocol" id="protocol" type="text" name="protocol">
		</div>
		<button type="submit" class="btn btn-primary">Ajouter ce device</button>	
	</form>
</div>