<div class="container alert-info">
	<a routerLink="/device/add">Ajouter un nouveau device</a>
</div>


<div *ngIf="devices==null ;else list" class="container">
	<h1>Pas de résultats</h1>
</div>

<ng-template #list>
<div class="container">	
	<h1>Liste des devices</h1>
	
	<div class="card" style="width: 18rem;" *ngFor="let d of devices">
		<div class="card-body" >
			<h4 class="card-title">{{d.name}}</h4>
			<p class="card-text">
				Protocol : {{d.protocol}}<br>
				GUID : {{d.device_guid}}
			</p>
			<div *ngIf="d.bridge ;else btnassoc">
				<em style="color:green">Bridge associé :</em>
				<p>{{d.bridge.name}}</p>
				
			</div>
			<button class="btn btn-success" routerLink="/device/detail/{{d.id}}" >Détail du device</button>
			<ng-template #btnassoc>
					<a routerLink="/device/detail/{{d.id}}" class="btn btn-primary">Associer un bridge</a>
			</ng-template>
		</div>
	</div>
</div>
</ng-template>	
