<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}!
  </h1>
</div>
<div class="container">
  <nav class="nav">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a routerLink="/devices">Devices</a></li>
      <li class="nav-item"><a routerLink="/bridges">Bridges</a></li>
      <li class="nav-item"><a routerLink="/map">Map</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>


